.hr {
  width: 95%;
  height: 2px;
  background-color: white;
}

.walletSelectMain {
  display: flex;
  flex-flow: row nowrap;
  width: 95%;
  align-items: center;
}
.walletSelectMain > * {
  margin: 5px;
}
.walletSelectInput {
  height: 40px;
}
.walletSelectInputContainer {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}
.walletSelectInputContainerGreen {
  border-radius: 2px;
  border: 3px solid green;
}
.walletSelectButton,
.walletSelectStatus {
  border-radius: 2px;
  border: 2px solid white;
  height: 40px;
  background-color: white;
}
.walletSelectButton > img,
.walletSelectStatus > img {
  height: 100%;
}
.walletSelectInput {
}
